In [1]:
import pandas as pd

# Define the subjects, predicates, and objects
subjects = ['Alice', 'Alice', 'Alice', 'Bob', 'Bob', 'Charlie', 'Charlie', 'David', 'David', 'Eve']
predicates = ['likes', 'knows', 'has', 'likes', 'has', 'knows', 'likes', 'has', 'knows', 'likes']
objects = ['Bob', 'Eve', 'Cat', 'Alice', 'Dog', 'Alice', 'Eve', 'Fish', 'Bob', 'Fish']

# Create a dataframe
df = pd.DataFrame({'subject': subjects, 'predicate': predicates, 'object': objects})

# Save the dataframe to a TSV file
df.to_csv('dataset10.tsv', sep='\t', index=False)

df

   subject predicate object
0    Alice     likes    Bob
1    Alice     knows    Eve
2    Alice       has    Cat
3      Bob     likes  Alice
4      Bob       has    Dog
5  Charlie     knows  Alice
6  Charlie     likes    Eve
7    David       has   Fish
8    David     knows    Bob
9      Eve     likes   Fish

In [7]:
from pykeen.triples import TriplesFactory

# Assuming your dataframe has columns 'subject', 'predicate', 'object'
triples_factory = TriplesFactory.from_labeled_triples(
    triples=df[['subject', 'predicate', 'object']].values,
)

# Display the first few triples
triples_factory.triples

Reconstructing all label-based triples. This is expensive and rarely needed.

array([['Alice', 'has', 'Cat'],
       ['Alice', 'knows', 'Eve'],
       ['Alice', 'likes', 'Bob'],
       ['Bob', 'has', 'Dog'],
       ['Bob', 'likes', 'Alice'],
       ['Charlie', 'knows', 'Alice'],
       ['Charlie', 'likes', 'Eve'],
       ['David', 'has', 'Fish'],
       ['David', 'knows', 'Bob'],
       ['Eve', 'likes', 'Fish']], dtype='<U7')

In [15]:
# training, validation, testing = triples_factory.split(ratios=(.6, .2, .2))
training = triples_factory
validation = triples_factory
testing = triples_factory

d=training

In [16]:
d.entity_to_id

{'Alice': 0,
 'Bob': 1,
 'Cat': 2,
 'Charlie': 3,
 'David': 4,
 'Dog': 5,
 'Eve': 6,
 'Fish': 7}

In [17]:
d.relation_to_id

{'has': 0, 'knows': 1, 'likes': 2}

In [18]:
d.map_triples(d.triples)

Reconstructing all label-based triples. This is expensive and rarely needed.

tensor([[0, 0, 2],
        [0, 1, 6],
        [0, 2, 1],
        [1, 0, 5],
        [1, 2, 0],
        [3, 1, 0],
        [3, 2, 6],
        [4, 0, 7],
        [4, 1, 1],
        [6, 2, 7]])

In [19]:
d.triples

Reconstructing all label-based triples. This is expensive and rarely needed.

array([['Alice', 'has', 'Cat'],
       ['Alice', 'knows', 'Eve'],
       ['Alice', 'likes', 'Bob'],
       ['Bob', 'has', 'Dog'],
       ['Bob', 'likes', 'Alice'],
       ['Charlie', 'knows', 'Alice'],
       ['Charlie', 'likes', 'Eve'],
       ['David', 'has', 'Fish'],
       ['David', 'knows', 'Bob'],
       ['Eve', 'likes', 'Fish']], dtype='<U7')

In [20]:
id_to_entity={v: k for k, v in d.entity_to_id.items()}
id_to_relation={v: k for k, v in d.relation_to_id.items()}

for i in d.map_triples(d.triples):
    s,p,o =int(i[0]), int(i[1]), int(i[2])
    h,r,t = id_to_entity[s], id_to_relation[p], id_to_entity[o]
    print(f"{s:2d}:{h:7}{p:2d}:{r:7} {o:2d}:{t:7}")

Reconstructing all label-based triples. This is expensive and rarely needed.

 0:Alice   0:has      2:Cat
 0:Alice   1:knows    6:Eve
 0:Alice   2:likes    1:Bob
 1:Bob     0:has      5:Dog
 1:Bob     2:likes    0:Alice
 3:Charlie 1:knows    0:Alice
 3:Charlie 2:likes    6:Eve
 4:David   0:has      7:Fish
 4:David   1:knows    1:Bob
 6:Eve     2:likes    7:Fish

In [21]:
import pandas as pd
subjects = ['Alice', 'Alice', 'Alice', 'Alice', 'Alice', 'Alice', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Charlie', 'Charlie', 'Charlie', 'Charlie', 'Charlie', 'Charlie', 'David', 'David', 'David', 'David', 'David', 'David', 'Eve', 'Eve', 'Eve', 'Eve', 'Eve', 'Eve']
predicates = ['friend_with', 'friend_with', 'has_hobby', 'has_hobby', 'has_occupation', 'has_occupation', 'friend_with', 'friend_with', 'has_hobby', 'has_hobby', 'has_occupation', 'has_occupation', 'friend_with', 'friend_with', 'has_hobby', 'has_hobby', 'has_occupation', 'has_occupation', 'friend_with', 'friend_with', 'has_hobby', 'has_hobby', 'has_occupation', 'has_occupation', 'friend_with', 'friend_with', 'has_hobby', 'has_hobby', 'has_occupation', 'has_occupation']
objects = ['Bob', 'Charlie', 'Reading', 'Swimming', 'Engineer', 'Scientist', 'Alice', 'David', 'Football', 'Cycling', 'Doctor', 'Chef', 'Alice', 'Eve', 'Gaming', 'Photography', 'Teacher', 'Lawyer', 'Bob', 'Frank', 'Swimming', 'Hiking', 'Lawyer', 'Pilot', 'Charlie', 'Frank', 'Painting', 'Running', 'Chef', 'Nurse']


df = pd.DataFrame({'subject': subjects, 'predicate': predicates, 'object': objects})
df.to_csv('dataset30.tsv', sep='\t', index=False)
df

    subject       predicate       object
0     Alice     friend_with          Bob
1     Alice     friend_with      Charlie
2     Alice       has_hobby      Reading
3     Alice       has_hobby     Swimming
4     Alice  has_occupation     Engineer
5     Alice  has_occupation    Scientist
6       Bob     friend_with        Alice
7       Bob     friend_with        David
8       Bob       has_hobby     Football
9       Bob       has_hobby      Cycling
10      Bob  has_occupation       Doctor
11      Bob  has_occupation         Chef
12  Charlie     friend_with        Alice
13  Charlie     friend_with          Eve
14  Charlie       has_hobby       Gaming
15  Charlie       has_hobby  Photography
16  Charlie  has_occupation      Teacher
17  Charlie  has_occupation       Lawyer
18    David     friend_with          Bob
19    David     friend_with        Frank
20    David       has_hobby     Swimming
21    David       has_hobby       Hiking
22    David  has_occupation       Lawyer
23    David  has_occupation        Pilot
24      Eve     friend_with      Charlie
25      Eve     friend_with        Frank
26      Eve       has_hobby     Painting
27      Eve       has_hobby      Running
28      Eve  has_occupation         Chef
29      Eve  has_occupation        Nurse